h1 {
  font-family: "Simplipixa", sans-serif;
  background: -webkit-linear-gradient(
    360deg,
    rgba(12, 192, 120, 1) 20%,
    rgba(252, 252, 153, 1) 40%,
    rgba(251, 105, 98, 1) 60%,
    rgba(168, 228, 239, 1) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
}

.rounded-square {
  height: 200px;
  width: 200px;
  background-color: beige;
  border-radius: 20%;
  border: solid 10px;
}

.green {
  background-color: #0cc078;
  border-color: #077348;
}

.yellow {
  background-color: #fcfc99;
  border-color: #97975c;
}

.red {
  background-color: #fb6962;
  border-color: #b04a45;
}

.blue {
  background-color: #a8e4ef;
  border-color: #65898f;
}
